# from https://gist.github.com/mike3k/4513568
# rd: print a recursive description of views
command regex rd 's/^[[:space:]]*$/po [[[UIApplication sharedApplication] keyWindow] recursiveDescription]/' 's/^(.+)$/po [%1 recursiveDescription]/'
# prect: print the properties of a rect
command regex prect 's/(.+)/print (CGRect)%1/'
# psel: print a selector
command regex psel 's/(.+)/print (char *)%1/'
# simg: save an image
command regex simg 's|^([^ ]+) (.+)$|expr (BOOL)[[%1 TIFFRepresentation] writeToFile:(NSString *)[[@"/Users/scott/Downloads/DebugImages/" stringByAppendingString:(NSString *)%2] stringByAppendingPathExtension:@"tiff"] atomically:YES]|'
# plog: for use in logging a value with a string precursor in breakpoints
command regex plog 's|^([^ ]+) (.+)$|po [%2 stringByAppendingString:[((NSObject *)%1) description]]|'
# prct: print a rect within a string
command regex prct 's|^([^ ]+) (.+)$|po [%2 stringByAppendingString:((NSString *)NSStringFromRect(%1))]|'
